* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  width: 1680px;
  margin: 0 auto;
}

.container {
  width: 1680px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn---full:link,
.btn---full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn---full:hover,
.btn---full:active {
  background-color: #cf711f;
}

/*********************************/
/* HEADER */
/*********************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 9.6rem;
  padding: 0 4 8rem;
}

.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
  min-width: 1680px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 3rem;
}

.logo {
  height: 5rem;
}

.my-account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-account-icon:link,
.my-account-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.my-account-icon:hover,
.my-account-icon:active {
  color: #cf711f;
}
.search-icon:link,
.search-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.search-icon:hover,
.search-icon:active {
  color: #cf711f;
}

.btn-my-account-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.btn-search-icon {
  height: 1.8rem;
  width: 1.8rem;
}

/*********************************/
/* NAVIGATION */
/**********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/*********************************/
/* HERO SECTION */
/*********************************/

.section-hero {
  display: flex;
  background-color: #fdf2e9;
  padding: 70px 0px;
  align-items: center;
}

.hero {
  position: relative;
  max-width: 130rem;
  padding: 0 4rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.sub-section {
  display: flex;
  align-items: flex-end;
  justify-content: ;
  align-items: center;
  gap: 8rem;
  font-family: rubik;
  font-size: 1.2rem;
  color: gray;
  background-color: white;
  position: absolute;
  bottom: 500;
  right: 0;
  height: 154px;
  width: 1185px;
  padding: 70px 135px;
  bottom: -77px;
  top: 1043;
  left: 615px;
  box-shadow: 0px 10px 30px 5px rgb(250, 245, 245);
}

.Destinations-box {
  line-height: 2;
  margin-bottom: -0.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}

.CheckIn-box {
  line-height: 1.25;
}

.Price-Range-box {
  line-height: 2;
}

.discover.now {
  text-align: start;
}

.btn.btn---full {
  padding: 15px 15px 15px 15px;
}

.pagination,
.Destinations-box,
.CheckIn-box,
.Price-Range-box,
.discover-now {
  display: inline-block;
  width: 100%;
}

/* pagination - hero section */

.pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 995px;
  width: 495px;
  height: 77px;
  align-items: center;
  justify-content: flex-start;
}

.page-link:link,
.page-link:visited {
  font-size: 16px;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  color: #e67e22;
}

.page-link {
  text-decoration: none;
}

.btn-icon-full {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.btn-icon {
  margin-right: 1rem;
}

.btn-outline {
  margin-right: 1rem;
}

.btn-icon-outline {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

/* #line {
  color: ;
  height: 2px;
  width: 234px;
} */

#destinations {
  color: #e67e22;
}

#pricerange {
  color: #e67e22;
}

.btn-icon {
  border: 1px solid #e67e22;
  height: 47px;
  width: 47px;
  background-color: #e67e22;
  color: #fff;
  cursor: hand;
}

.btn-outline {
  border: 1px solid #aaa7a4;
  height: 47px;
  width: 47px;
  background: none;
  color: #e67e22;
  cursor: hand;
  margin-left: 15px;
}

.btn-outline:hover {
  background-color: #e67e22;
  color: white;
}

.page-link.page-link--current {
  border-style: hidden;
  width: 27px;
  height: 33px;
  font-size: 24px;
  margin-left: 10px;
}

.line {
  color: gray;
  width: 234px;
  height: 2px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.arrow {
  height: 25px;
  width: 25px;
}

/* background style hero section */

.section-hero {
  background-image: url(hero-banner\ 2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* SECTION-OPTIONS */

.section-options {
  padding: 12rem 9.6rem 9.6rem 9.6rem;
}

.grid-container {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 328px;
  width: 328px;
  gap: 50px;
}

.card-1::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(map\ 1.png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
}

.card-2::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(binocular\ 1.png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
}

.card-3::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(backpack\ 1\ .png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
}

.card-4::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(ukelele\ 1.png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
}

.card {
  background-color: rgb(244, 244, 250);
  place-content: center;
  padding: 2rem 3rem 1rem 3rem;
}

.card.card-3 {
  background-color: white;
  border-style: solid;
  border-color: #f8f7f6;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  margin-top: 1rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0.5rem;
}

.sect-image {
  display: flex;
  justify-content: center;
}

/* SECTION-TOP-DESTINATIONS */

.section-top-destinations {
  padding: 8rem 9.6rem 8rem 9rem;
}

.grid-container2 {
  display: grid;
  width: 1000px;
  height: 300px;
  grid-template-columns: 31% 23% 23% 23%;
  gap: 25px;
  margin-left: -5rem;
}

.cuba-city {
  position: relative;
  background-image: url(Havana.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 50vh;
  color: white;
  font-size: 18px;
}

.paris {
  position: relative;
  background-image: url(eiffel.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 50vh;
  color: white;
  font-size: 18px;
}

.japan {
  position: relative;
  background-image: url(japan.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 50vh;
  color: white;
  font-size: 18px;
}

#bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.head-text {
  font-size: 18px;
  align-items: center;
  line-height: 1.3;
  letter-spacing: -0.5px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#sect-text {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

span {
  color: #cf711f;
}
