html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  align-items: center;
}

/*********************************/
/* GENERAL REUSABLE COMPONENTS */
/*********************************/

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Noto Serif";
  font-style: normal;
  padding: 1.6rem 3.2rem;
  align-items: center;
  letter-spacing: 0;
  line-height: 2.5rem;
  text-align: center;
  height: 6rem;
  max-width: 20rem;
  border-style: none;
  cursor: pointer;

  /* Put transition on original state */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ff715b;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #fd2807;
  color: #000000;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid white; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

span {
  color: #ff715b;
}

.section {
  padding: 12.5rem 0 12.5rem 0;
  background-color: #fff;
}

/*********************************/
/* HEADER */
/**********************************/
.header {
  font-family: "Noto Serif";
  background-color: white;
}

.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

/*********************************/
/* NAVIGATION */
/**********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fd2807;
}

.main-nav-link.nav-cta {
  color: #fff;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav.cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #ff715b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav.cta:active {
  background-color: #fd2807;
  color: #000;
}

.user-icon {
  height: 2rem;
  width: 1.864rem;
}

.user-icon {
  transition: transform 0.2s;
  cursor: pointer;
}

.user-icon:hover {
  transform: scale(1.5);
}

.my-account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.search-icon {
  transition: transform 0.2s;
}

.search-icon:hover {
  transform: scale(1.25);
}

/*********************************/
/* HERO SECTION*/
/*********************************/
.section--hero {
  padding-top: 2.5rem;
}

.hero {
  max-width: 168rem;
  height: 100rem;
  margin: 0 auto;
  padding: 0 12rem;
  align-items: center;
  background-image: url(Images/hero_banner.png);
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  max-width: 168rem;
  padding: 20rem 0 10rem 0;
}

.hero-overlay-box {
  display: flex;
  flex-direction: row;
  max-width: 168rem;
  padding: 0;
  margin: 0 auto;
  margin-top: -7.5rem;
  gap: 7.5rem;
}

.primary-heading {
  font-family: "Noto Serif";
  font-size: 8.4rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 11.2rem;
  color: #2c2c2c;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.prev {
  align-items: center;
  background-color: #ff715b;
  display: flex;
  height: 4.7rem;
  width: 4.7rem;
  padding: 0 1.9rem;
  border-style: none;
}

.prev:hover {
  background-color: #fd2807;
  color: #000000;
  cursor: pointer;
}

.next {
  align-items: flex-start;
  border: 0.2rem solid;
  border-color: #f5ebe9;
  background: #fff;
  display: flex;
  height: 4.7rem;
  margin-left: 2rem;
  min-width: 4.7rem;
  padding: 1.4rem 1.7rem;
  position: absolute;
  margin-left: 6rem;
}

.next:hover {
  background-color: #f9f4f3;
  color: #000000;
  cursor: pointer;
}

.line-number {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 3.3rem;
  margin-left: 8rem;
  min-width: 29.3rem;
}

.line-1 {
  background-color: #f5ebe9;
  height: 0.2rem;
  width: 23.4rem;
}

.number {
  color: #ff715b;
  font-family: "Noto Serif";
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  min-height: 3.3rem;
  max-width: 2.7rem;
  text-align: center;
  margin-top: -0.5rem;
}

.number:hover {
  color: #000000;
  cursor: pointer;
}

.arrow {
  height: 1.5rem;
  width: 0.9rem;
}

/* search box */

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15.4rem;
  min-width: 118.5rem;
  gap: 6rem;
  background: #ffffff;
  box-shadow: 0rem 1rem 3rem 0.5rem rgba(219, 200, 197, 0.2);
}

/* destinations */

.search-box-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 6.4rem;
  width: 24rem;
}

.destinations {
  letter-spacing: 0;
  line-height: normal;
  min-height: 1.9rem;
  font-size: 1.6rem;
  font-family: "Product Sans";
}

.overlap-group-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 3.5rem;
  gap: 1rem;
  width: 24rem;
}

.arab-egypt {
  display: flex;
  flex: 75%;
  left: 0;
  letter-spacing: 0;
  font-family: "Noto Serif";
  font-size: 1.8rem;
}

.arrow-line {
  display: flex;
  align-items: center;
}

.down-arrow {
  display: flex;
  height: 0.8rem;
  width: 1.4rem;
}

.line {
  display: flex;
  background-color: #f5ebe9;
  border-radius: 0.05rem;
  height: 0.1rem;
  width: 24rem;
}

/* check in */

.check-in {
  letter-spacing: 0;
  line-height: normal;
  min-height: 1.9rem;
  font-size: 1.6rem;
  font-family: "Product Sans";
}

.overlap-group-2 {
  align-items: center;
  display: flex;
  gap: 11.8rem;
  height: 2.4rem;
  min-width: 24.2rem;
}

.date {
  letter-spacing: 0;
  line-height: normal;
  min-height: 2.4rem;
  min-width: 10.7rem;
  font-size: 1.8rem;
  font-family: "Noto Serif";
}

.calender {
  height: 1.5rem;
  margin-bottom: 0.1rem;
  width: 1.5rem;
}

/* price range */

.price-range {
  min-height: 1.9rem;
  font-size: 1.6rem;
  font-family: "Product Sans";
}

.overlap-group-3 {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 2.4rem;
  min-width: 24rem;
}

.price {
  letter-spacing: 0;
  line-height: normal;
  min-height: 2.4rem;
  min-width: 13.1rem;
  font-size: 1.8rem;
  font-family: "Noto Serif";
}

.dollar-sign {
  height: 1.5rem;
  margin-bottom: 0.1rem;
  width: 0.9rem;
}

.discover-now {
  align-items: center;
  display: flex;
  height: 6.4rem;
  min-width: 19.5rem;
  padding: 0 3.7rem;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  border-style: none;
  color: #ffffff;
  background-color: #ff715b;
}

.discover-now:hover {
  background-color: #fd2807;
  color: #000000;
}

/******************************************/
/* how it works */
/******************************************/
.card-container {
  display: flex;
  flex-direction: row;
  max-width: 168rem;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 32.6rem;
  width: 32.6rem;
  background-color: rgb(244, 244, 250);
  place-content: center;
}

.card::before {
  content: " ";
  width: 10rem;
  height: 10rem;
  top: 0.1rem;
  margin-bottom: 2.5rem;
  margin-left: 10.1rem;
}

.card-1::before {
  width: 12.8rem;
  height: 12.8rem;
  margin-bottom: 0.25rem;
  margin-left: 9rem;
  background-image: url(Images/map.png);
}

.card-2::before {
  background-image: url(Images/binocular.png);
}

.card-3::before {
  background-image: url(Images/backpack.png);
}

.card-4::before {
  background-image: url(Images/ukelele.png);
}

.card.card-3 {
  background-color: white;
  border-style: solid;
  border-color: #f8f7f6;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  margin-bottom: 1.5rem;

  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #2c2c2c;
}

.opt-text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  margin-top: 1rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.sect-image {
  display: flex;
  justify-content: center;
}

/******************************************/
/* top destination */
/******************************************/
.section--top-destination {
  align-items: center;
  background-image: url(Images/background.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.place-container {
  display: flex;
  align-items: center;
  max-width: 168rem;
  height: 58rem;
  gap: 3rem;
}

/* box_1*/

.title-top-destinations {
  display: flex;
  flex-direction: column;
  width: 41.9rem;
  height: 35.1rem;
  margin-right: 4rem;
}

.secondary-heading {
  text-align: start;
  width: 41.9rem;
  height: 11.6rem;
  margin-bottom: 4.5rem;
  line-height: 6.538rem;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 800;
  font-size: 3.2rem;
  color: #2c2c2c;
}

.it-is-long-established {
  align-items: center;
  justify-content: center;
  width: 42rem;
  height: 7.1rem;
  margin-bottom: 5rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #a79997;
}

.place {
  display: flex;
  color: white;
  font-size: 1.8rem;
  width: 33rem;
  height: 40rem;
}

.place--japan {
  width: 31.6rem;
}

.bottom-left {
  display: flex;
  align-self: flex-end;
  max-width: 20rem;
  height: 8rem;
  padding: 2rem;
  font-weight: 700;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 2.8rem;
  line-height: 3.8rem;
  color: #fff;
  z-index: 999;
}

.place {
  display: flex;
  height: 40rem;
  width: 33rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* box_2*/

.place--cuba {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 47.69%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(Images/Cuba_City.png);
}

.place--paris {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 47.69%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(Images/Paris_City.png);
}

.place--japan {
  width: 31.6rem;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 47.69%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(Images/Japan.png);
}

/******************************************/
/* about us */
/******************************************/
.flex-columns {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  max-width: 168rem;
}

.left-column {
  display: flex;
}

.ellipse-1 {
  display: flex;
  align-items: center;
  align-self: center;
  border: 0.8rem solid;
  border-color: #ff5b65;
  border-radius: 2.7rem;
  height: 5.4rem;
  width: 5.4rem;
}

.middle-column {
  display: flex;
  height: 83.4rem;
  width: 70.3rem;
  background-image: url(Images/lighthouse.png);
  background-size: cover;
}

/* right column */

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 61.4rem;
  width: 69rem;
}

.we-are-offering-in-total {
  display: flex;
  letter-spacing: 0;
  line-height: normal;
  min-height: 11.6rem;
  width: 69rem;
  font-size: 4.8rem;
  font-weight: 800;
  color: #2c2c2c;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.overlap-part-1 {
  display: flex;
  gap: 4rem;
}

.x01 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 5rem;
  min-height: 12.9rem;
  width: 69.4rem;
}

.vector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff715b;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 1.5rem #ff715b40;
  gap: 0.3rem;
  min-height: 5rem;
  padding: 1.2rem 0;
  width: 5rem;
  top: 2rem;
}

.vector-1 {
  height: 1.3rem;
  margin-left: 0.1rem;
  width: 1.3rem;
}

.vector-2 {
  height: 1rem;
  width: 2.4rem;
}

.best-travel-guide {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  min-height: 2.6rem;
  width: 60rem;
  font-size: 2.4rem;
  color: #000000;
}

.travel-has-helped-us {
  letter-spacing: 0;
  line-height: 2.6rem;
  margin-left: 9.4rem;
  min-height: 7.1rem;
  margin-bottom: 5rem;
  width: 60rem;
  font-size: 1.8rem;
  color: #a79997;
}

.rectangle-2 {
  height: 0.1rem;
  width: 60rem;
  background-color: #f1e0dd;
  margin-left: 9rem;
}

.part-2 {
  height: 14.2rem;
  margin-top: 5rem;
  width: 69.2rem;
}

.overlap-part-2 {
  display: flex;
  gap: 6rem;
  align-content: center;
}

.world-class-services-provide-for-you {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 5rem;
  min-height: 2.6rem;
  width: 60rem;
  font-size: 2.4rem;
  color: #000000;
}

.overlap-part-3 {
  display: flex;
  gap: 6rem;
  align-content: center;
}

.vector {
  height: 2.5rem;
  width: 2.5rem;
}

.x247-strong-customer-support {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1rem;
  min-height: 2.6rem;
  width: 60rem;
  font-size: 2.4rem;
  color: #000000;
}

.line-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14rem;
  left: 9rem;
  min-height: 14.2rem;
  top: 0;
  width: 60rem;
}

.x02 {
  align-items: center;
  display: flex;
  gap: 4rem;
  height: 5rem;
  left: 0;
  min-width: 69.2rem;
  top: 4.6rem;
}

.rectangle-24 {
  background-color: #c4c4c4;
  height: 70rem;
  left: 7.8rem;
  top: 5.5rem;
  width: 57rem;
}

.lighthouse {
  height: 70rem;
  left: 7.8rem;
  object-fit: cover;
  top: 5.5rem;
  width: 57rem;
}

.rectangle-25 {
  background-color: #ffca45;
  border-radius: 1.2rem;
  height: 14.2rem;
  left: 56.1rem;
  top: 0;
  width: 14.2rem;
}

.rectangle-27 {
  background-color: #ffcbc3;
  filter: blur(15rem);
  height: 63.5rem;
  left: 44.2rem;
  top: 8.7rem;
  width: 21.6rem;
}

.pattern {
  height: 17.2rem;
  left: 0;
  top: 66.2rem;
  width: 17rem;
}

.rectangle-26 {
  background-color: #d3e1ff;
  filter: blur(10rem);
  height: 61.4rem;
  left: 4.1rem;
  top: 9.8rem;
  width: 25.8rem;
}

/*******************************************/
/* choose your destination */
/*******************************************/
.container-places {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  height: 120rem;
  gap: 3rem;
}

.head-places {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15rem;
  width: 100rem;
  line-height: 6.5rem;
  font-weight: 800;
  font-size: 4.8rem;
  color: black;
}

.place {
  display: grid;
  width: 45rem;
  height: 58.7rem;
  background-size: cover;
  justify-items: flex-end;
  align-content: flex-end;
}

.place-1 {
  background-image: url(Images/place_1.png);
}

.place-2 {
  background-image: url(Images/place_2.png);
  align-self: flex-start;
  margin-bottom: 20rem;
}

.place-3 {
  background-image: url(Images/place_3.png);
}

.place-1,
.place-3 {
  align-self: flex-end;
}

.txt-bx {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: -5rem;
  width: 40rem;
  height: 12rem;
  background: #ffffff;
  box-shadow: 0rem 1rem 2.5rem rgba(215, 190, 190, 0.2);
}

.head-txt-bx {
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  margin-left: 3rem;
  text-align: start;
  height: 7rem;
  width: 26.1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: black;
}

.smaller-txt-bx {
  display: flex;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 40rem;
}

.price-text {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ff715b;
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.checked {
  border-style: none;
  color: #ffc01e;
  background: #ffffff;
}

.reviews {
  display: flex;
  align-self: center;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #a79997;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  color: white;
  background: #ff715b;
  border-style: none;
}

.plus:hover {
  background-color: #fd2807;
  color: #000000;
  cursor: pointer;
}

.btn--view-all-places {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-left: 60rem;
  margin-top: -4rem;
}

/* .vector-3 {
  display: flex;
  left: 28rem;
  top: 18rem;
  margin-top: -3rem;
}

.vector-4 {
  display: flex;
  right: 30.2rem;
  top: 18rem;
  margin-top: -3rem;
}

.ellipse-35 {
  background-color: #aaf19e;
  border-radius: 8.6rem;
  filter: blur(19.4rem);
  height: 17.2rem;
  width: 17.2rem;
  left: 155.8rem;
  top: 330rem;
} */

/*******************************************/
/* testimonial */
/*******************************************/

.overlap-group8 {
  position: relative;
  height: 85.8rem;
  margin-right: 5.1rem;
  max-width: 159.5rem;
}

.ellipse-37 {
  position: absolute;
  width: 24.2rem;
  height: 24.2rem;
  top: 430rem;
  left: 1036;
  border-radius: 12.1rem;
  background: #fff8f8;
}

.ellipse-36 {
  background-color: #9cd8eb;
  border-radius: 8.6rem;
  filter: blur(19.4rem);
  height: 17.2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 17.2rem;
}

.testimonial {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  min-height: 72.9rem;
}

.what-our-happy-customers-say-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 45rem;
  margin-bottom: 10rem;
  min-height: 11.6rem;
  text-align: center;
  width: 69rem;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 6.5rem;
  color: #2c2c2c;
}

.flex-col-4 {
  align-items: flex-start;
  gap: 1.2rem;
  min-height: 6rem;
  width: 26.1rem;
}

.flex-col-5 {
  display: flex;
  flex-direction: column;
}

.image-08 {
  align-items: center;
  align-self: flex-start;
  background-color: #c449ff;
  border-radius: 2.7rem;
  box-shadow: 0rem 1rem 3rem #efd8f9;
  display: flex;
  height: 5.4rem;
  margin-left: 8.3rem;
  margin-top: 3.4rem;
  min-width: 5.4rem;
  padding: 0 0.45rem;
}

.mask-group-2 {
  height: 4.5rem;
  width: 4.5rem;
}

.overlap-group3-3 {
  position: relative;
  height: 51.3rem;
  margin-left: 11.8rem;
  width: 69rem;
}

.bg-1 {
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0rem 2rem 3rem #e3c9c94c;
  display: flex;
  height: 51.3rem;
  left: 0;
  min-width: 69rem;
}

.bg-2 {
  position: absolute;
  top: 0;
}

.rectangle-33 {
  background-color: #ff715b;
  box-shadow: 0rem 2rem 4rem #e3c9c94c;
  height: 1.2rem;
  width: 69rem;
}

.client {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 8rem;
  left: 16.4rem;
  min-width: 36.5rem;
  position: absolute;
  top: 7rem;
}

.ellipse-27 {
  height: 8rem;
  object-fit: cover;
  width: 8rem;
}

.flex-row-4 {
  align-items: center;
  display: flex;
  margin-right: 0.2rem;
  min-width: 156.9rem;
}

.md-shamim-hossain {
  letter-spacing: 0;
  line-height: normal;
  min-height: 2.6rem;
  width: 26.1rem;

  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #000000;
}

.uiux-designer {
  letter-spacing: 0;
  line-height: normal;
  min-height: 2.2rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #ff715b;
}

.jetrips-hotel-is-an {
  color: #a79997;
  font-size: 2.4rem;
  font-weight: 400;
  left: 6rem;
  letter-spacing: 0;
  line-height: 3.6rem;
  position: absolute;
  text-align: center;
  top: 20rem;
  width: 57rem;
}

.dots-container {
  align-items: center;
  display: flex;
  height: 2.5rem;
  left: 29.5rem;
  min-width: 10rem;
  position: absolute;
  top: 42.1rem;
  gap: 2rem;
}

.dot-1 {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: #c4c4c4;
  border: none;
}

.dot-2 {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: #c4c4c4;
  border: none;
}

.dot-3 {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: #ff715b;
  border: none;
}

.dot-4 {
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: #c4c4c4;
  border: none;
}

.dot:hover {
  background-color: #ff715b;
  color: #c4c4c4;
  cursor: pointer;
}

.image-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28.3rem;
  margin-left: 10.7rem;
  min-height: 46.1rem;
  width: 14.1rem;
}

.image-02 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #18a0fb;
  border-radius: 4.6rem;
  box-shadow: 0rem 1rem 3rem #c3e1f6;
  display: flex;
  height: 9.2rem;
  justify-content: flex-end;
  min-width: 9.2rem;
  padding: 0.77rem;
}

.mask-group-5 {
  height: 7.7rem;
  width: 7.7rem;
}

.image-03 {
  align-items: flex-start;
  background-color: #65ce54;
  border-radius: 4.3rem;
  box-shadow: 0rem 1rem 3rem #d3e9d0;
  display: flex;
  height: 8.6rem;
  justify-content: flex-end;
  min-width: 8.6rem;
  padding: 0.72rem;
}

.mask-group {
  height: 7.2rem;
  width: 7.2rem;
}

.image-06 {
  align-items: flex-end;
  background-color: #ff4566;
  border-radius: 4.7rem;
  box-shadow: 0rem 1rem 3rem #f0cbd1;
  display: flex;
  height: 9.4rem;
  margin-bottom: 1.5rem;
  margin-left: 0.6rem;
  min-width: 9.4rem;
  padding: 0.78rem 0.78rem;
}

.mask-group-3 {
  height: 7.8rem;
  width: 7.8rem;
}

.image-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  margin-top: 8.1rem;
  min-height: 30.2rem;
  width: 9.9rem;
}

.image-05 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #5f45ff;
  border-radius: 4.3rem;
  box-shadow: 0rem 1rem 3rem #d2ccf4;
  display: flex;
  height: 8.6rem;
  justify-content: flex-end;
  min-width: 8.6rem;
  padding: 0.72rem 0.72rem;
}

.image-07 {
  align-items: flex-start;
  background-color: #ffca45;
  border-radius: 2.8rem;
  box-shadow: 0rem 1rem 3rem #fdd87a40;
  display: flex;
  height: 5.6rem;
  justify-content: flex-end;
  min-width: 5.6rem;
  padding: 0.47rem 0.47rem;
}

.mask-group-1 {
  height: 4.7rem;
  width: 4.7rem;
}

.image-01 {
  align-items: flex-start;
  background-color: #ffca45;
  border-radius: 3.7rem;
  box-shadow: 0rem 1rem 3rem #fdd87a40;
  display: flex;
  height: 7.4rem;
  width: 7.4rem;
  margin-bottom: 2.7rem;
  margin-left: 10.3rem;
  min-width: 7.4rem;
  padding: 0.62rem 0.62rem;
}

.mask-group-4 {
  height: 6.2rem;
  width: 6.2rem;
}

/*******************************************/
/* download apps */
/*******************************************/
.flex-container-1 {
  display: flex;
  height: 55rem;
  max-width: 168rem;
  background: linear-gradient(
    180deg,
    rgb(206, 254, 254) 0%,
    rgb(221.33, 241.19, 128.63) 100%
  );
  background-image: url(Images/apps_image.png);
}

.right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  margin-left: 10rem;
}

.download-now-travel-community-apps {
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  justify-items: center;
  letter-spacing: 0;
  line-height: normal;
  width: 61.9rem;
  font-size: 4.8rem;
  font-weight: 800;
}

.google-play {
  width: 20.3rem;
  height: 6rem;
}

.apple-store {
  width: 20.3rem;
  height: 6rem;
}

/*******************************************/
/* footer */
/*******************************************/
.section--footer {
  padding: 12.5rem 0 0 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  max-width: 168rem;
}

.footer-links:link,
.footer-links:visited {
  color: #555;
}

.footer-links:hover,
.footer-links:active {
  color: #ff715b;
}

/* about */

.about {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 27.4rem;
  width: 45rem;
}

.logo-1 {
  align-items: flex-start;
  display: flex;
  gap: 1.9rem;
  min-width: 23.1rem;
  padding: 0 0rem;
}

.vector-6 {
  height: 6.1rem;
  margin-top: 0;
  width: 6.2rem;
}

.union-1 {
  align-self: center;
  height: 3rem;
  margin-bottom: 0.101rem;
  width: 14.9rem;
}

.you-can-dream-creat {
  letter-spacing: 0;
  line-height: 2.6rem;
  margin-top: 2.6rem;
  min-height: 4.5rem;
  width: 45rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #a79997;
}

.contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  min-height: 11.2rem;
  width: 40.8rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.union-2 {
  align-self: flex-end;
  height: 2.4rem;
  width: 2rem;
}

.vector-7 {
  height: 2.3rem;
  margin-bottom: 0.007rem;
  width: 2.3rem;
}

.vector-8 {
  height: 1.8rem;
  margin-top: 0.2rem;
  width: 2.2rem;
}

.website {
  align-items: flex-start;
  display: flex;
  gap: 1.8rem;
  height: 2.7rem;
  margin-top: 1.8rem;
  min-width: 26.5rem;
}

.mail {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  height: 2.6rem;
  margin-left: 0.1rem;
  margin-top: 1.5rem;
  min-width: 40.9rem;
}

.youremailaddressgmailcom {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 2.6rem;
  white-space: nowrap;
  width: 37rem;
}

.phone {
  align-items: flex-end;
  display: flex;
  gap: 1.5rem;
  height: 2.6rem;
  min-width: 41rem;
}

.phone:hover {
  color: #ff715b;
  cursor: pointer;
}

.text-phone {
  letter-spacing: 0;
  line-height: 2.6rem;
  white-space: nowrap;
  width: 37rem;
}

/* quick links */

.quick-links {
  width: 16.9rem;
  height: 25.1rem;
  align-items: center;
  margin-top: 2rem;
  margin-left: 5rem;
}

.head-links {
  height: 2.6rem;
  width: 16.9rem;
  display: flex;
}

.text-quick-links {
  letter-spacing: 0;
  margin-bottom: 3rem;
  white-space: nowrap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.6rem;
}

.about-us-destination-list {
  letter-spacing: 0;
  line-height: 4.2rem;
  min-height: 19.5rem;
  width: 15rem;
  margin-top: 3rem;
  align-items: start;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #a79997;
}

.rectangle-3:hover {
  cursor: pointer;
}

.rectangle-3 {
  margin-bottom: 0.25rem;
  margin-right: 1.5rem;
}

.rectangle-36 {
  margin-bottom: 0.25rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

/* support */

.support {
  margin-left: 7.5rem;
  margin-top: 2rem;
  width: 17.5rem;
  height: 25.1rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.text-support {
  letter-spacing: 0;
  line-height: 2.6rem;
  margin-bottom: 3rem;
  white-space: nowrap;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  color: #000000;
}

.customer-support-pri-list {
  letter-spacing: 0;
  line-height: 4.2rem;
  min-height: 19.5rem;
  width: 18rem;
  margin-bottom: 3rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #a79997;
}

/* newsletter */

.newsletter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 9.1rem;
  margin-bottom: 3.1rem;
  min-height: 20.9rem;
  width: 40.2rem;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.6rem;
  color: #000000;
}

.newsletter-1 {
  letter-spacing: 0;
  line-height: 2.6rem;
  white-space: nowrap;
}

input[type="text"] {
  box-sizing: border-box;
  background: #f8f8f8;
  border: 0.1rem solid #f5ebe9;
  height: 6rem;
  margin-top: 4.4rem;
  width: 40rem;
  border-style: none;
}

.btn--subscribe-now {
  margin-top: 2rem;
}

/* copyright */

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #f5ebe9;
}

.copyright-2020-rave {
  letter-spacing: 0;
  line-height: 2.6rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #a79997;
}

/* end */
