/* Desktop */
.desktop---screen {
  align-items: center;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 6904px;
  overflow: hidden;
  padding: 30px 0;
  width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ff715b;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn---full:link,
.btn---full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn---full:hover,
.btn---full:active {
  background-color: #cf711f;
}

/*********************************/
/* Header */
/**********************************/
.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  min-width: 1680px;
  gap: 3rem;
  height: 45px;
  margin-bottom: 36px;
  left: 0;
}

.logo-header {
  height: 45px;
  min-width: 174px;
  left: 120px;
  top: 39px;
}

.logo-vector {
  left: 6.25%;
  right: 91.3%;
  top: 0.56%;
  bottom: 98.78%;
  height: 45px;
  width: 47px;
}

.logo-union {
  width: 112.34px;
  height: 22.34px;
  left: 181.66px;
  top: 49.96px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.my-account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .my-account-icon:link,
.my-account-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.my-account-icon:hover,
.my-account-icon:active {
  color: #cf711f;
}

.search-icon:link,
.search-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.search-icon:hover,
.search-icon:active {
  color: #cf711f;
} */

.user-icon {
  height: 20px;
  width: 18.64px;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/*********************************/
/* hero banner + search */
/*********************************/
.hero-bannersearch {
  align-items: flex-start;
  display: flex;
  top: 120px;
  left: 120px;
  min-width: 1680px;
  height: 1077px;
}

.overlap-group7 {
  height: 1077px;
  position: relative;
  width: 1680;
}

.pagination {
  align-items: center;
  display: flex;
  height: 47px;
  min-width: 435px;
  left: 0;
  position: absolute;
  top: 1030px;
}

.paginations {
  align-items: center;
  display: flex;
  gap: 30px;
  height: 33px;
  margin-bottom: 4px;
  margin-top: 10px;
  margin-left: 140px;
  min-width: 293px;
}

.line-1 {
  background-color: #f5ebe9;
  height: 2px;
  margin-top: 1px;
  width: 234px;
}

.number {
  color: #ff715b;
  font-family: var(--font-family-noto_serif);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  max-width: 27px;
  text-align: center;
  margin-top: 10px;
}

.next {
  align-items: flex-start;
  border: 2px solid;
  border-color: #f5ebe9;
  background: #fff;
  display: flex;
  height: 47px;
  margin-left: 20px;
  min-width: 47px;
  padding: 14px 17px;
  position: absolute;
  margin-right: 320px;
}

.arrow {
  height: 15px;
  width: 9px;
}

.prev {
  align-items: center;
  background-color: #ff715b;
  display: flex;
  height: 47px;
  min-width: 47px;
  padding: 0 19px;
  border-style: none;
}

.overlap-group6 {
  height: 1077px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1680px;
}

.overlap-group-2 {
  align-items: center;
  background-color: #ff715b;
  display: flex;
  height: 60px;
  left: 135px;
  min-width: 200px;
  padding: 0 36.5px;
  position: absolute;
  top: 559px;
}

.plan-your-trip {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 127px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.hero-banner-image {
  background-color: #c8c8c8;
  background-image: url(Images/hero-banner.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1000px;
  left: 120;
  position: absolute;
  top: 120;
  width: 1680px;
}

.search-box {
  align-items: center;
  background-color: white;
  box-shadow: 0px 10px 30px 5px rgb(250, 245, 245);
  display: flex;
  gap: 60px;
  height: 154px;
  left: 459px;
  min-width: 1185px;
  padding: 0 45px;
  position: absolute;
  top: 923px;
}

.search-box-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 64px;
  width: 240px;
}

.destinations {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  font-size: 16px;
}

.overlap-group1 {
  height: 35px;
  position: relative;
  width: 240px;
}

.arab-egypt {
  left: 0;
  letter-spacing: 0;
  list-style: normal;
  position: absolute;
  top: 0;
  font-size: 18px;
}

.arrow-line {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  min-height: 27px;
  position: absolute;
  top: 8px;
  width: 240px;
}

.down-arrow {
  height: 8px;
  margin-right: 0.46px;
  width: 14px;
}

.line {
  background-color: #f5ebe9;
  border-radius: 0.5px;
  height: 1px;
  width: 240px;
}

.surname {
  min-height: 19px;
  font-size: 16px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  gap: 100px;
  height: 24px;
  min-width: 240px;
}

.dollar-sign {
  height: 15px;
  margin-bottom: 1px;
  width: 9px;
}

.text-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 131px;
  font-size: 18px;
}

.overlap-group-3 {
  align-items: center;
  background-color: #ff715b;
  display: flex;
  height: 64px;
  min-width: 195px;
  padding: 0 37px;
}

.desktop .discover {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  text-align: center;
}

.discover-now {
  min-width: 121px;
  font-size: 18px;
  color: #fff;
}

.check-in {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  font-size: 16px;
}

.date {
  align-items: center;
  display: flex;
  gap: 118px;
  height: 24px;
  min-width: 242px;
}

.calender {
  height: 15px;
  margin-bottom: 1px;
  width: 15px;
}

.address {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 107px;
  font-size: 18px;
}

.its-time-to-explore-the-world {
  color: #2c2c2c;
  font-family: var(--font-family-noto_serif);
  font-size: 84px;
  font-weight: 700;
  left: 135px;
  letter-spacing: 0;
  line-height: 112px;
  position: absolute;
  top: 285px;
}

.btn.btn---full {
  padding: 15px 15px 15px 15px;
}

.page-link:link,
.page-link:visited {
  font-size: 16px;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  color: #e67e22;
}

.page-link {
  text-decoration: none;
}

.btn-icon-full {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.btn-icon {
  margin-right: 1rem;
}

.btn-outline {
  margin-right: 1rem;
}

.btn-icon-outline {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

#destinations {
  color: #e67e22;
}

#pricerange {
  color: #e67e22;
}

.btn-icon {
  border: 1px solid #e67e22;
  height: 47px;
  width: 47px;
  background-color: #e67e22;
  color: #fff;
  cursor: hand;
}

.btn-outline {
  border: 1px solid #aaa7a4;
  height: 47px;
  width: 47px;
  background: none;
  color: #e67e22;
  cursor: hand;
  margin-left: 15px;
}

.btn-outline:hover {
  background-color: #e67e22;
  color: white;
  cursor: hand;
}

.page-link.page-link--current {
  border-style: hidden;
  width: 27px;
  height: 33px;
  font-size: 24px;
  margin-left: 270px;
  margin-top: 15px;
}

/******************************************/
/* how it works */
/******************************************/

.how-it-works {
  position: absolute;
  width: 1394px;
  height: 326px;
  left: 255px;
  top: 1377px;
  margin-top: -180px;
}

.grid-container {
  display: grid;
  width: 1068px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  right: 255px;
  left: 271px;
  gap: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 326px;
  width: 326px;
}

.card-1::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(Images/map\ 1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  top: 30px;
  left: 101px;
}

.card-2::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/binocular\ 1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  top: 44px;
  left: 114px;
}

.card-3::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/backpack\ 1\ .png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: top;
  top: 44px;
  left: 119px;
}

.card-4::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/ukelele\ 1.png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
  top: 44px;
  left: 113px;
}

.card {
  background-color: rgb(244, 244, 250);
  place-content: center;
  padding: 2rem 3rem 1rem 3rem;
}

.card.card-3 {
  background-color: white;
  border-style: solid;
  border-color: #f8f7f6;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 100px;
}

.opt-text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 20px;
}

.sect-image {
  display: flex;
  justify-content: center;
}

/******************************************/
/* top destinations */
/******************************************/

.grid-container2 {
  display: grid;
  width: 1801px;
  height: 580px;
  grid-template-columns: auto auto auto auto;
  place-content: center;
  left: -120px;
  top: 1883px;
  margin-top: -180px;
  position: absolute;
  z-index: 1;
}

.destinations-description {
  margin-left: 180px;
  margin-right: 100px;
  width: 419px;
}

.cuba-city,
.paris-city,
.japan {
  position: relative;
  display: flex;
  color: white;
  font-size: 18px;
  margin-right: 30px;
  width: 330px;
  height: 400px;
}

.japan {
  width: 316px;
  height: 400px;
}

.bottom-text---japan {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
}

.cuba-city:after,
.paris-city:after,
.japan:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 47.69%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.Bg {
  display: flex;
  position: absolute;
  width: 789px;
  height: 580px;
  background: #f7f7f7;
  left: 1115px;
  top: 1705px;
}

.bottom-text {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
}

.head-text {
  text-align: start;
  line-height: 65px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.5px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

#sect-text {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.8;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

span {
  color: #ff715b;
}

/******************************************/
/* about us */
/******************************************/
.about-us {
  align-items: center;
  display: flex;
  right: 145px;
  margin-top: 180px;
  min-width: 1555px;
  position: absolute;

  left: 110px;
  top: 2285px;
  height: 833.81px;
}

.right-side {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 23.81px;
  margin-left: -150px;
  min-height: 614px;
  width: 690px;
  position: absolute;
  left: 975px;
}

.x03 {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-top: 45px;
  min-width: 692px;
}

.overlap-group-6 {
  align-items: flex-start;
  background-color: #fff7e3;
  border-radius: 10px;
  display: flex;
  height: 50px;
  min-width: 50px;
  padding: 12px;
}

.vector {
  height: 25px;
  width: 25px;
}

.x247-strong-customer-support {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
  min-height: 26px;
  width: 600px;
  font-size: 24px;
  color: #000000;
}

.we-are-offering-in-total {
  letter-spacing: 0;
  line-height: normal;
  min-height: 116px;
  width: 690px;
  font-size: 48px;
  font-weight: 800;
  color: #2c2c2c;
  margin-bottom: 82px;
}

.overlap-group3-1 {
  height: 142px;
  margin-top: 50px;
  position: relative;
  width: 692px;
}

.line-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 140px;
  left: 90px;
  min-height: 142px;
  position: absolute;
  top: 0;
  width: 600px;
}

.rectangle-2 {
  background-color: #f1e0dd;
  height: 1px;
  width: 600px;
}

.x02 {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 50px;
  left: 0;
  min-width: 692px;
  position: absolute;
  top: 46px;
}

.overlap-group1-2 {
  align-items: flex-end;
  background-color: #ecf9e2;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 12px;
}

.world-class-services-provide-for-you {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
  min-height: 26px;
  width: 600px;
  font-size: 24px;
  color: #000000;
}

.x01 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
  min-height: 129px;
  width: 694px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 50px;
  margin-right: 4px;
  min-width: 690px;
}

.desktop .surname-2 {
  letter-spacing: 0;
  line-height: normal;
}

.surname-1 {
  margin-bottom: 10px;
  min-height: 26px;
  width: 600px;
  font-size: 24px;
  color: #000000;
}

.vector-container {
  align-items: center;
  background-color: #ff715b;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #ff715b40;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 50px;
  padding: 12px 0;
  width: 50px;
}

.vector-2 {
  height: 10px;
  width: 24px;
}

.vector-1 {
  height: 13px;
  margin-left: 1px;
  width: 13px;
}

.travel-has-helped-us {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 94px;
  min-height: 71px;
  width: 600px;
  font-size: 18px;
  color: #a79997;
}

.ellipse-1 {
  border: 8px solid;
  border-color: #ff5b65;
  border-radius: 27px;
  height: 54px;
  margin-top: 18.19px;
  width: 54px;
}

.overlap-group4 {
  align-self: flex-end;
  height: 834px;
  margin-bottom: 0;
  margin-left: 13px;
  position: relative;
  width: 703px;
}

.rectangle-24 {
  background-color: #c4c4c4;
  height: 700px;
  left: 78px;
  position: absolute;
  top: 55px;
  width: 570px;
}

.lighthouse-1 {
  height: 700px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 570px;
}

.rectangle-25 {
  background-color: #ffca45;
  border-radius: 12px;
  height: 142px;
  left: 561px;
  position: absolute;
  top: 0;
  width: 142px;
}

.rectangle-27 {
  background-color: #ffcbc3;
  filter: blur(150px);
  height: 635px;
  left: 442px;
  position: absolute;
  top: 87px;
  width: 216px;
}

.pattern {
  height: 172px;
  left: 0;
  position: absolute;
  top: 662px;
  width: 170px;
}

.rectangle-26 {
  background-color: #d3e1ff;
  filter: blur(100px);
  height: 614px;
  left: 41px;
  position: absolute;
  top: 98px;
  width: 258px;
}

/*******************************************/
/* choose your destination */
/*******************************************/

.choose-your-destination {
  height: 937px;
  width: 1410px;
  top: 3300px;
  margin-top: 180px;
  position: absolute;
  left: 255px;
}

.head-places {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: black;
  height: 51px;
  width: 691px;
  margin-left: 316px;
  margin-bottom: 100px;
}

.container-places {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 1410px;
  gap: 30px;
  align-items: center;
  margin-top: -151px;
}

.santorini-1 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 340px;
}

.santorini-2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-top: -40px;
}

.santorini-3 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 340px;
}

.txt-bx {
  position: absolute;
  align-self: flex-end;
  width: 400px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
  margin-bottom: 100px;
  margin-left: 50px;
  font-size: 24px;
  top: 482px;
}

.txt-bx-2 {
  position: absolute;
  align-self: flex-end;
  width: 400px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
  margin-bottom: 250px;
  margin-left: 50px;
  font-size: 24px;
  top: 482px;
}

.head-txt-bx {
  color: black;
  text-align: start;
  margin-top: 20px;
  bottom: 59px;
  margin-right: 105px;
  margin-left: 34px;
  height: 26px;
  width: 261px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.places-text {
  position: absolute;
  width: 56px;
  height: 22px;
  left: 34px;
  bottom: 20px;
  margin-top: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff715b;
}

.checked {
  color: #ffc01e;
  background: #ffffff;
  border-style: none;
  height: 14px;
  width: 14px;
  bottom: 20px;
}

.fa {
  margin-right: 3px;
}

.plus {
  position: absolute;
  color: white;
  background: #ff715b;
  border-style: none;
  top: 28px;
  left: 315px;
}

.view-all-places {
  position: absolute;
  align-self: flex-end;
  border-style: none;
  left: 584px;
  top: 880px;
}

.smaller-txt-bx {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
  margin-right: 70px;
  height: 65px;
  width: 400px;
}

.rating {
  height: 22px;
  width: 250px;
  bottom: 20px;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.reviews {
  height: 22px;
  width: 87px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a79997;
  bottom: 20px;
  margin-left: 0;
  display: flex;
}

.vector-3 {
  display: flex;
  position: absolute;
  left: 280px;
  top: 180px;
  margin-top: -30px;
}

.vector-4 {
  display: flex;
  position: absolute;
  right: 302px;
  top: 180px;
  margin-top: -30px;
}

.ellipse-35 {
  background-color: #aaf19e;
  border-radius: 86px;
  filter: blur(194px);
  height: 172px;
  width: 172px;
  left: 1558px;
  position: absolute;
  top: 3300px;
}

/*******************************************/
/* testimonial */
/*******************************************/
.overlap-group8 {
  position: relative;
  height: 858px;
  margin-right: 51px;
  margin-top: 165px;
  width: 1595px;
}

.ellipse-37 {
  position: absolute;
  width: 242px;
  height: 242px;
  top: 616px;
  left: 1036;
  border-radius: 121px;
  background: #fff8f8;
}

.ellipse-36 {
  background-color: #9cd8eb;
  border-radius: 86px;
  filter: blur(194px);
  height: 172px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.testimonial {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  left: 161px;
  min-height: 729px;
  position: absolute;
  top: 4650px;
  width: 1571px;
}

.what-our-happy-customers-say-about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 27px;
  min-height: 116px;
  text-align: center;
  width: 710px;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #2c2c2c;
}

.flex-row-4 {
  align-items: center;
  display: flex;
  margin-right: 2px;
  min-width: 1569px;
}

.image-8 {
  align-items: center;
  align-self: flex-start;
  background-color: #c449ff;
  border-radius: 27px;
  box-shadow: 0px 10px 30px #efd8f9;
  display: flex;
  height: 54px;
  margin-left: 83px;
  margin-top: 34px;
  min-width: 54px;
  padding: 0 4.5px;
}

.mask-group-2 {
  height: 45px;
  width: 45px;
}

.overlap-group3-3 {
  position: relative;
  height: 513px;
  margin-left: 118px;
  width: 690px;
}

.bg-1 {
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #e3c9c94c;
  display: flex;
  height: 513px;
  left: 0;
  min-width: 690px;
}

.rectangle-33 {
  background-color: #ff715b;
  box-shadow: 0px 20px 40px #e3c9c94c;
  height: 12px;
  width: 690px;
}

.client {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 80px;
  left: 164px;
  min-width: 365px;
  position: absolute;
  top: 70px;
}

.ellipse-27 {
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.flex-col-4 {
  align-items: flex-start;
  gap: 12px;
  min-height: 60px;
  width: 261px;
}

.uiux-designer {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.md-shamim-hossain {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  width: 261px;
}

.group-1 {
  align-items: center;
  display: flex;
  height: 22px;
  left: 295px;
  min-width: 100px;
  position: absolute;
  top: 421px;
}

.ellipse-34 {
  border-radius: 11px;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 0;
  border: 2px solid #ff715b;
}

.ellipse-30 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.ellipse-container-1 {
  border-radius: 11px;
  height: 22px;
  margin-left: 14px;
  position: relative;
  width: 22px;
}

.ellipse-34 {
  border: 2px;
  border-color: #ff715b;
  border-radius: 11px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.ellipse-32 {
  background-color: #ff715b;
  border-radius: 5px;
  height: 10px;
  left: 6px;
  position: absolute;
  width: 10px;
  top: 6px;
}

.ellipse-33 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 10px;
  margin-left: 14px;
  width: 10px;
}

.ellipse-31 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 10px;
  margin-left: 20px;
  width: 10px;
}

.jetrips-hotel-is-an {
  color: #a79997;
  font-size: 24px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 570px;
}

.image-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 283px;
  margin-left: 107px;
  min-height: 461px;
  width: 141px;
}

.image-02 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #18a0fb;
  border-radius: 46px;
  box-shadow: 0px 10px 30px #c3e1f6;
  display: flex;
  height: 92px;
  justify-content: flex-end;
  min-width: 92px;
  padding: 7.7px;
}

.mask-group-5 {
  height: 77px;
  width: 77px;
}

.image-4 {
  align-items: flex-start;
  background-color: #65ce54;
  border-radius: 43px;
  box-shadow: 0px 10px 30px #d3e9d0;
  display: flex;
  height: 86px;
  justify-content: flex-end;
  min-width: 86px;
  padding: 7.2px;
}

.mask-group {
  height: 72px;
  width: 72px;
}

.image-6 {
  align-items: flex-end;
  background-color: #ff4566;
  border-radius: 47px;
  box-shadow: 0px 10px 30px #f0cbd1;
  display: flex;
  height: 94px;
  margin-bottom: 15px;
  margin-left: 6px;
  min-width: 94px;
  padding: 7.8px 7.8px;
}

.mask-group-3 {
  height: 78px;
  width: 78px;
}

.image-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin-top: 81px;
  min-height: 302px;
  width: 99px;
}

.image-5 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #5f45ff;
  border-radius: 43px;
  box-shadow: 0px 10px 30px #d2ccf4;
  display: flex;
  height: 86px;
  justify-content: flex-end;
  min-width: 86px;
  padding: 7.2px 7.2px;
}

.image-7 {
  align-items: flex-start;
  background-color: #ffca45;
  border-radius: 28px;
  box-shadow: 0px 10px 30px #fdd87a40;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 56px;
  padding: 4.7px 4.7px;
}

.mask-group-1 {
  height: 47px;
  width: 47px;
}

.image-01 {
  align-items: flex-start;
  background-color: #ffca45;
  border-radius: 37px;
  box-shadow: 0px 10px 30px #fdd87a40;
  display: flex;
  height: 74px;
  width: 74px;
  margin-bottom: 27px;
  margin-left: 103px;
  min-width: 74px;
  padding: 6.2px 6.2px;
}

.mask-group-4 {
  height: 62px;
  width: 62px;
}
/* end of testimonial */

/* Slideshow container */
/* .slideshow-container {
  max-width: 1000px;
  position: absolute;
  margin: auto;
  margin-top: 100px;

  align-items: center;
  display: flex;
  height: 22px;
  left: 295px;
  min-width: 100px;
  position: absolute;
  top: 421px;
} */

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/4 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* Section download-apps */
.download-apps {
  align-items: flex-start;
  background: linear-gradient(
    180deg,
    rgb(206, 254, 254) 0%,
    rgb(221.33, 241.19, 128.63) 100%
  );
  display: flex;
  margin-top: 106px;
  min-width: 1680px;
}

.overlap-group2-1 {
  height: 550px;
  position: relative;
  width: 1680px;
}

.download-now-travel-community-apps {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 157px;
  width: 619px;
  font-size: 48px;
  font-weight: 800;
}

.apple-store {
  height: 60px;
  left: 363px;
  position: absolute;
  top: 333px;
  width: 202px;
}

.overlap-group1-3 {
  height: 550px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1680px;
}

.screen-2 {
  align-items: flex-end;
  background-image: url(Images/screen\ 2..png);
  background-size: 100% 100%;
  display: flex;
  height: 550px;
  justify-content: flex-end;
  left: 0;
  min-width: 1652px;
  padding: 0 56.1px;
  top: 0;
}

.overlap-group-8 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 476px;
  min-width: 303px;
  padding: 0 6.9px;
}

.app-1 {
  height: 472px;
  object-fit: cover;
  width: 288px;
}

.bagpack-1 {
  height: 232px;
  left: 1105px;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 229px;
}

.screen {
  background-color: #eff2f4;
  border-radius: 50px 50px 0px 0px;
  height: 364px;
  left: 1075px;
  position: absolute;
  top: 186px;
  width: 288px;
}

.mask-group-6 {
  height: 550px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 1652px;
}

.logo {
  align-items: center;
  display: flex;
  gap: 14px;
  height: 45px;
  left: 1134px;
  min-width: 171px;
  position: absolute;
  top: 465px;
}

.union {
  height: 22px;
  margin-bottom: 0.74px;
  width: 111px;
}

.vector-5 {
  height: 45px;
  width: 46px;
}

.plane-2-1 {
  height: 173px;
  left: 850px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 425px;
}

.screen-1 {
  height: 368px;
  left: 1068px;
  position: absolute;
  top: 182px;
  width: 303px;
}

.google-play {
  height: 60px;
  left: 134px;
  position: absolute;
  top: 333px;
  width: 203px;
}

/* Footer */
.footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 2px;
  margin-top: 180px;
  min-height: 421px;
  width: 1682px;
}

.flex-row-5 {
  align-items: center;
  display: flex;
  height: 274px;
  min-width: 1412px;
}

.union-2 {
  align-self: flex-end;
  height: 24px;
  width: 20px;
}

.about {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 274px;
  width: 452px;
}

.contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 112px;
  width: 408px;
}

.vector-7 {
  height: 23px;
  margin-bottom: 0.07px;
  width: 23px;
}

.vector-8 {
  height: 18px;
  margin-top: 2px;
  width: 22px;
}

.website {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  height: 27px;
  margin-top: 18px;
  min-width: 265px;
}

.wwwyourwebsitenamecom {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.mail {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 26px;
  margin-left: 1px;
  margin-top: 15px;
  min-width: 409px;
}

.youremailaddressgmailcom {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 370px;
}

.phone {
  align-items: flex-end;
  display: flex;
  gap: 15px;
  height: 26px;
  min-width: 410px;
}

.text-1-1 {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  width: 370px;
}

.logo-1 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  min-width: 231px;
  padding: 0 0px;
}

.union-1 {
  align-self: center;
  height: 30px;
  margin-bottom: 1.01px;
  width: 149px;
}

.vector-6 {
  height: 61px;
  margin-top: 0;
  width: 62px;
}

.you-can-dream-creat {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 26px;
  min-height: 45px;
  width: 450px;
}

.quick-links {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.about-us-destination-list {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 195px;
  width: 109px;
}

.flex-row-6 {
  align-items: flex-end;
  display: flex;
  gap: 15px;
  height: 195px;
  margin-left: 5px;
  min-width: 134px;
}

.flex-col {
  flex-direction: column;
  gap: 40px;
  margin-bottom: 5px;
  min-height: 170px;
  width: 10px;
}

.rectangle-3 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 2px;
  width: 10px;
}

.rectangle-36 {
  background-color: #ff715b;
  border-radius: 5px;
  height: 2px;
  width: 10px;
}

.support {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.customer-support-pri-list {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 195px;
  width: 153px;
}

.links {
  margin-left: 45px;
  width: 173px;
}

.links-1 {
  margin-left: 66px;
  width: 187px;
}

.desktop .links-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 11px;
  min-height: 251px;
}

.desktop .flex {
  align-items: flex-start;
  display: flex;
}

.flex-row-7 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  gap: 15px;
  height: 195px;
  margin-right: 4px;
  min-width: 178px;
}

.newsletter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 87px;
  margin-bottom: 31px;
  min-height: 209px;
  width: 402px;
}

.newsletter-1 {
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

input[type="text"] {
  box-sizing: border-box;
  background: #f8f8f8;
  border: 1px solid #f5ebe9;
  height: 60px;
  margin-top: 44px;
  width: 400px;
  border-style: none;
}

.subscribe {
  align-items: center;
  background-color: #ff715b;
  color: #f5ebe9;
  display: flex;
  height: 64px;
  margin-top: 15px;
  min-width: 200px;
  padding: 0 31px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border-style: none;
}

.rectangle-40 {
  background-color: #f5ebe9;
  height: 1px;
  margin-right: 2px;
  margin-top: 90px;
  width: 1680px;
}

.copyright-2020-rave {
  letter-spacing: 0;
  line-height: 26px;
  margin-right: 2px;
  margin-top: 30px;
  min-width: 452px;
  text-align: center;
  white-space: nowrap;
}

/* end */
