* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  width: 1680px;
  margin: 0 auto;
}

.container {
  width: 1680px;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn---full:link,
.btn---full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn---full:hover,
.btn---full:active {
  background-color: #cf711f;
}

/*********************************/
/* HEADER */
/*********************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 9.6rem;
  padding: 0 4 8rem;
}

.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
  min-width: 1680px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 3rem;
}

.logo {
  height: 5rem;
}

.my-account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-account-icon:link,
.my-account-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.my-account-icon:hover,
.my-account-icon:active {
  color: #cf711f;
}

.search-icon:link,
.search-icon:visited {
  background-color: #e67e22;
  color: #fff;
}

.search-icon:hover,
.search-icon:active {
  color: #cf711f;
}

.btn-my-account-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.btn-search-icon {
  height: 1.8rem;
  width: 1.8rem;
}

/*********************************/
/* NAVIGATION */
/**********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/*********************************/
/* HERO SECTION */
/*********************************/

.section-hero {
  display: flex;
  background-color: #fdf2e9;
  padding: 70px 0px;
  align-items: center;
}

.hero {
  position: relative;
  max-width: 130rem;
  padding: 0 4rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.sub-section {
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: space-evenly;
  gap: 8rem;
  font-family: rubik;
  font-size: 1.2rem;
  color: gray;
  background-color: white;
  position: absolute;
  bottom: 500;
  right: 0;
  height: 154px;
  width: 1185px;
  padding: 70px 135px;
  bottom: -77px;
  top: 1043;
  left: 615px;
  box-shadow: 0px 10px 30px 5px rgb(250, 245, 245);
}

.Destinations-box {
  line-height: 2;
  margin-bottom: -0.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: -0.8rem;
  margin-bottom: 0.5rem;
}

.CheckIn-box {
  line-height: 1.25;
}

.Price-Range-box {
  line-height: 2;
}

.discover.now {
  text-align: start;
}

.btn.btn---full {
  padding: 15px 15px 15px 15px;
}

/* pagination - hero section */

.pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 985px;
  width: 495px;
  height: 77px;
  align-items: center;
  justify-content: flex-start;
}

.page-link:link,
.page-link:visited {
  font-size: 16px;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  color: #e67e22;
}

.page-link {
  text-decoration: none;
}

.btn-icon-full {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.btn-icon {
  margin-right: 1rem;
}

.btn-outline {
  margin-right: 1rem;
}

.btn-icon-outline {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

#destinations {
  color: #e67e22;
}

#pricerange {
  color: #e67e22;
}

.btn-icon {
  border: 1px solid #e67e22;
  height: 47px;
  width: 47px;
  background-color: #e67e22;
  color: #fff;
  cursor: hand;
}

.btn-outline {
  border: 1px solid #aaa7a4;
  height: 47px;
  width: 47px;
  background: none;
  color: #e67e22;
  cursor: hand;
  margin-left: 15px;
}

.btn-outline:hover {
  background-color: #e67e22;
  color: white;
  cursor: hand;
}

.page-link.page-link--current {
  border-style: hidden;
  width: 27px;
  height: 33px;
  font-size: 24px;
  margin-left: 270px;
  margin-top: 15px;
}

.line {
  position: absolute;
  width: 234px;
  height: 2px;
  left: 140px;
  top: 38px;
  background: rgb(20, 19, 19);
}

.arrow {
  height: 25px;
  width: 25px;
}

/* background style hero section */

.section-hero {
  background-image: url(Images/hero-banner\ 2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* SECTION-OPTIONS */

.section-options {
  padding: 12rem 9.6rem 9.6rem 9.6rem;
}

.grid-container {
  display: grid;
  width: 1068px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  right: 255px;
  left: 271px;
  gap: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 326px;
  width: 326px;
}

.card-1::after {
  content: " ";
  position: absolute;
  width: 128px;
  height: 128px;
  background-image: url(Images/map\ 1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  top: 30px;
  left: 101px;
}

.card-2::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/binocular\ 1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  top: 44px;
  left: 114px;
}

.card-3::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/backpack\ 1\ .png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: top;
  top: 44px;
  left: 119px;
}

.card-4::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(Images/ukelele\ 1.png);
  background-repeat: no repeat;
  background-size: auto;
  background-position: center;
  top: 44px;
  left: 113px;
}

.card {
  background-color: rgb(244, 244, 250);
  place-content: center;
  padding: 2rem 3rem 1rem 3rem;
}

.card.card-3 {
  background-color: white;
  border-style: solid;
  border-color: #f8f7f6;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 100px;
}

.opt-text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 20px;
}

.sect-image {
  display: flex;
  justify-content: center;
}

/* SECTION-TOP-DESTINATIONS */

.section-top-destinations {
  padding: 8rem 9.6rem 8rem 9rem;
}

.grid-container2 {
  display: grid;
  width: 1110px;
  height: 580px;
  grid-template-columns: auto auto auto auto;
  place-content: center;
}

.destinations-description {
  margin-left: 180px;
  margin-right: 100px;
  width: 419px;
}

.cuba-city,
.paris-city,
.japan {
  position: relative;
  display: flex;
  color: white;
  font-size: 18px;
  margin-right: 30px;
  width: 330px;
  height: 400px;
}

.japan {
  width: 316px;
  height: 400px;
}

.bottom-text---japan {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
}

.cuba-city:after,
.paris-city:after,
.japan:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 47.69%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.background {
  display: flex;
  position: absolute;
  background: #f7f7f7;
  left: 1114px;
  top: 1690px;
  z-index: -1;
}

.bottom-text {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
}

.head-text {
  text-align: start;
  line-height: 65px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.5px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

#sect-text {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.8;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

span {
  color: #cf711f;
}

/* SECTION - TOURS OFFERING */

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto;
  width: 1585px;
  height: 787px;
  padding-top: 100px;
}

.img-box {
  background-image: url(Images/lighthouse\ 1.png);
  background-repeat: no-repeat;
  width: 570px;
  height: 700px;
}

.tours-info {
  width: 690px;
  height: 700px;
  top: 180;
}

.heading1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  left: 975px;
  top: 2741px;
  margin-left: 70px;
  color: black;
}

.travel-guide-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  left: 1065px;
  top: 2946px;
  margin-left: 70px;
  color: black;
}

.travel-guide-text {
  font-size: 18px;
  line-height: 26px;
  left: 1065px;
  top: 2997px;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  color: #a79997;
}

.services-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  left: 1065px;
  top: 3171px;
  margin-bottom: 40px;
  margin-top: -30px;
  margin-left: 70px;
  color: black;
}

.customer-support {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  left: 1065px;
  top: 3312px;
  margin-top: 20px;
  color: black;
}

.customer-support-head {
  margin-left: 70px;
  margin-top: -35px;
}

.vector-2 {
  width: 25px;
  height: 25px;
  left: 975px;
  top: 3305px;
  margin-top: 50px;
}

.vector-3 {
  width: 25px;
  height: 25px;
  left: 975px;
  top: 3164px;
  margin-top: 40px;
}

.travel-guide-icon {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  left: 975px;
  top: 2939px;
}

/* SECTION - Choose your destinatiom  */

.container-places {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 350px;
  width: 1585px;
  height: 1200px;
  gap: 30px;
}

.head-places {
  position: absolute;
  align-items: center;
  font-size: 48px;
  text-align: center;
  margin-right: 400px;
  margin-top: -150px;
  color: black;
}

.santorini-1 {
  display: flex;
  position: relative;
  align-items: center;
}

.santorini-2 {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.santorini-3 {
  display: flex;
  position: relative;
  align-items: center;
}

.txt-bx {
  position: absolute;
  align-self: flex-end;
  width: 400px;
  height: 120px;
  box-shadow: 0px 10px 30px 5px rgb(250, 245, 245);
  background: white;
  margin-bottom: 100px;
  margin-left: 50px;
}

.txt-bx--2 {
  position: absolute;
  align-self: flex-end;
  width: 400px;
  height: 120px;
  box-shadow: 0px 10px 30px 5px rgb(250, 245, 245);
  background: white;
  margin-bottom: 250px;
  margin-left: 50px;
}

.head-txt-bx {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-right: 50px;
}

.checked {
  color: orange;
}

.plus {
  position: absolute;
  color: white;
  background: #cf711f;
  border-style: none;
  margin-left: 320px;
  margin-top: -50px;
}

.view-all-places {
  position: absolute;
  align-self: flex-end;
  border-style: none;
  margin-bottom: 100px;
  margin-left: 100px;
}

.smaller-txt-bx {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
  margin-right: 70px;
}

/* SECTION - Testimonials */

.container-testimonials {
  display: flex;
  position: relative;
  width: 1605px;
  height: 729px;
  gap: 50px;
}

.testimonial-head {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
  font-size: 48px;
  font-weight: 800;
  line-height: 80px;
  height: 120px;
  color: black;
}

.avatars-card-1 {
  display: grid;
  grid-template-columns: auto auto;
  width: 478px;
  height: 513px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
  align-items: start;
}

.avatars-card-2 {
  display: grid;
  grid-template-columns: auto auto;
  width: 437px;
  height: 513px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
  align-items: start;
}

.main-box {
  width: 600px;
  height: 513px;
  border-top-style: solid;
  border-top-color: #e67e22;
  border-top-width: 10px;
  box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
  background-color: white;
}

.img-main {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.main-subheading {
  margin-left: 220px;
  margin-top: -115px;
  line-height: 25px;
  font-size: 18px;
}

.main-text {
  font-size: 12px;
  margin-top: 50px;
  line-height: 25px;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SECTION - download info */

.download-info {
  display: flex;
  width: 1653px;
  height: 550px;
  background-image: url(Images/Rectangle\ 29.png);
  background: linear-gradient(90deg, #a6f2f2 0%, #ddf181 100%);
  gap: 100px;
}

.download-head {
  font-size: 36px;
  font-weight: 700;
  color: black;
  line-height: 1.25;
  text-align: center;
  width: 619px;
  margin-top: 150px;
  margin-bottom: 60px;
  margin-right: 106px;
}

.bag {
  width: 300px;
  height: 400px;
  background-image: url(Images/screen.png);
  background-repeat: no-repeat;
  background: white;
}

.Google-Play {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 16px;
  margin-left: 106px;
  margin-right: 20px;
  border-style: none;
}

.App-Store {
  width: 150px;
  height: 50px;
  background-color: #e67e22;
  color: white;
  border-style: none;
}

.media {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-bottom: -20px;
  gap: 20px;
}

/* FOOTER */
.container-footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.contact {
  font-size: 18px;
  line-height: 50px;
}

.logo-ravel {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  letter-spacing: 10px;
  gap: 10px;
  width: 160px;
  height: 30px;
  text-align: center;
}

.ravel {
  margin-bottom: 20;
}

.contact-text {
  font-size: 16px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 25px;
}

.phone,
.email,
.website {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.website {
  margin-bottom: 0;
}

.quick-links {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #555;
}

.support {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
}

.newsletter {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
}

.newsletter-head {
  margin-bottom: 50px;
  margin-top: -50px;
}

.empty {
  width: 400px;
  height: 60px;
  border-style: none;
  margin-top: -250px;
}

.subscribe {
  width: 200px;
  height: 64px;
  background-color: #e67e22;
  color: white;
  border-style: none;
  font-size: 18px;
}

.footer-2 {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: -45px;
  width: 1680px;
  height: 26px;
  border-top-style: solid;
  border-top-color: #f8f6f6;
  border-top-width: medium;
  text-align: center;
  margin-bottom: 60px;
  margin-left: 50px;
}

.footer-txt-2 {
  margin-top: 15px;
}
